body {
  background: #181822;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #2c2c3e;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 30px #ff4b4b;
  width: 550px;
}

h2 {
  text-align: center;
  color: #ff4b4b;
  margin-bottom: 25px;
  font-size: 28px;
  letter-spacing: 1px;
}

textarea {
  width: 100%;
  padding: 18px;
  border-radius: 12px;
  border: none;
  background: #1e1e2f;
  color: #fff;
  font-size: 16px;
  resize: none;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  background: linear-gradient(45deg,#ff0000,#ff4b4b);
  color: #fff;
  font-size: 17px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(45deg,#ff4b4b,#ff0000);
}

